
  body{
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
  }


  .wrapper {
    max-width: 500px;
    margin: 50px auto;
  }
  
  .card {
    max-width: 400px;
    min-height: 450px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    cursor: pointer;
    padding: 0.8rem;
  }
  img {
    width: 3cm;
    height: 2cm;
    right:  -15%;
    margin-left: auto;
  }
  
  .checkbox {
    margin-top: 5px;
    margin-right: 10px;
    height: 0.55cm;
    width: 0.55cm;
    background-color: transparent;
    border: none;
  
  }
  
  .item-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  

  
  .item-content h3{
    margin: 0;
    margin-left: 10px;
    transform: translateX(0.25rem);


  }
  .item-content p {
    margin: 0;
    margin-left: 20px;
  }
  @-moz-keyframes reveal-banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes reveal-banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes reveal-banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reveal-banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  
  #banner .inner {
	-moz-animation: reveal-banner 1s 0.25s ease-in-out;
	-webkit-animation: reveal-banner 1s 0.25s ease-in-out;
	-ms-animation: reveal-banner 1s 0.25s ease-in-out;
	animation: reveal-banner 1s 0.25s ease-in-out;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background-color: rgba(52, 27, 43, 0.5);
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #e6e3e3;
	display: inline-block;
	opacity: 0;
	padding: 3em;
	margin-top: 20%;
	text-align: center;
  }
  
  #banner .inner header {
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 3px 0 3px 0;
  }
  
  #banner .inner header h2 {
	font-size: 2.5em;
	font-weight: 900;
	letter-spacing: 0.2em;
	margin: 0;
	padding-left: 0.05em;
	font-family: Lato , sans-serif;
	text-transform: uppercase;
  }
  
  #banner .inner p {
	letter-spacing: 0.1em;
	margin: 0;
	text-transform: uppercase;
	font-family: Lato , sans-serif;

  }
  
  #banner .inner p a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
  }
  
  #banner .inner footer {
	margin: 2em 0 0 0;
  }
  ul.buttons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

	ul.buttons:last-child {
		margin-bottom: 0;
	}

	ul.buttons li {
		display: inline-block;
		padding: 0 0 0 1.5em;
	}

		ul.buttons li:first-child {
			padding: 0;
		}

	ul.buttons.stacked li {
		display: block;
		padding: 1.5em 0 0 0;
	}

		ul.buttons.stacked li:first-child {
			padding: 0;
		}
  
  button { margin: 20px;} /* not necessary */
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  -ms-appearance: none;
	  appearance: none;
	  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	  background: none;
	  border: solid 1px;
	  border-radius: 0;
	  color: inherit;
	  cursor: pointer;
	  display: inline-block;
	  font-size: 0.8em;
	  font-weight: 900;
	  letter-spacing: 2px;
	  min-width: 18em;
	  padding: 0 0.75em;
	  line-height: 3.75em;
	  text-align: center;
	  text-decoration: none;
	  text-transform: uppercase;
	  	font-family: Lato , sans-serif;

  }

	  input[type="button"]:hover,
	  input[type="submit"]:hover,
	  input[type="reset"]:hover,
	  button:hover,
	  .button:hover {
		  background: rgba(188, 202, 206, 0.15);
		  border-color: inherit;
	  }

	  input[type="button"].primary,
	  input[type="submit"].primary,
	  input[type="reset"].primary,
	  button.primary,
	  .button.primary {
		  background: #83d3c9;
		  border-color: #83d3c9;
		  color: #fff !important;
	  }

		  input[type="button"].primary:hover,
		  input[type="submit"].primary:hover,
		  input[type="reset"].primary:hover,
		  button.primary:hover,
		  .button.primary:hover {
			  background: #96dad1 !important;
			  border-color: #96dad1 !important;
		  }

	  input[type="button"].fit,
	  input[type="submit"].fit,
	  input[type="reset"].fit,
	  button.fit,
	  .button.fit {
		  width: 100%;
	  }

	  input[type="button"].small,
	  input[type="submit"].small,
	  input[type="reset"].small,
	  button.small,
	  .button.small {
		  font-size: 0.7em;
		  min-width: 14em;
		  padding: 0.5em 0;
	  }